.appbar {
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 0 40px;
  p {
    font-size: 20px;
  }
}

.menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  :last-child {
    margin-left: 24px;
  }
}
